* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary: #03C19D;
    --hover: #02B08C;
    --grey: #EBEBEB;
}

html {
    scroll-behavior: smooth;
}

.container {
    position: relative;
    overflow-x: hidden;
}

.w {
    width: 90%;
    max-width: 1370px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex--end {
    justify-content: flex-end;
}

.flex--start {
    justify-content: flex-start;
}

.img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a, input, .btn {
    cursor: pointer;
    transition: .2s all;
}

.btn {
    font-weight: 700;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

.btn--green {
    background: var(--primary);
    color: #fff;
}

.btn--green:hover {
    background: var(--hover);
}

.btn--white {
    background: #fff;
    color: var(--primary);
}

.btn--white:hover {
    background: var(--grey);
}

.btn > .img {
    margin-left: 8px;
    width: 24px;
}

.topBar {
    height: 60px;
    background: #000;
}

.topBar * {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.topBar__inner {
    height: 100%;
}

.topBar__inner__left {
    position: relative;
    padding-left: 15px;
}

.topBar__inner__left::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background: var(--primary);
}

.topBar__inner__right .img {
    width: 20px;
    height: auto;
    margin-right: 8px;
}

.topBar__inner__right > .flex:first-child {
    margin-right: 30px;
}

.header {
    height: 140px;
}

.header > .w {
    height: 100%;
}

.header__logo {
    display: block;
    width: 130px;
    height: auto;
}

.header__logo:hover {
    transform: scale(1.03);
}

.header__menu {
    width: calc(100% - 300px);
}

.header__menu__inner {
    width: calc(100% - 250px);
}

.header__menu__inner__item {
    width: 24%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.btn--header {
    width: 225px;
    height: 54px;
    font-size: 16px;
    margin-left: 40px;
}

.hero {
    width: 100%;
    height: auto;
    position: relative;
}

.img--hero {
    filter: brightness(.5);
}

.hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.hero__content__header,
.hero__content__text {
    color: #fff;
    max-width: 755px;
}

.hero__content__header {
    font-size: 64px;
    max-width: 755px;
}

.hero__content__text {
    font-weight: 400;
    margin: 20px 0 30px;
    font-size: 20px;
}

.btn--green.btn--landing {
    margin-right: 20px;
}

.btn--white.btn--landing {
    border: 3px solid var(--primary);
}

.btn--landing {
    padding: 5px 20px;
    font-size: 20px;
    height: 64px;
}

.section--offer {
    background: var(--grey);
}

.section__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    margin: 0 auto 50px;
    padding-top: 70px;
}

.section__header__before {
    display: block;
    text-align: center;
    color: var(--primary);
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 12px;
}

.section__header__heading {
    font-size: 40px;
    text-align: center;
}

.offer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    transition: .2s all;
    padding-bottom: 50px;
}

.offer__item {
    background: #fff;
    padding: 40px;
}

.offer__item > .img {
    width: 100px;
    margin-bottom: 25px;
}

.offer__item__header {
    width: calc(100% - 160px);
    font-size: 16px;
}

.offer__item__text {
    color: #626262;
    font-size: 14px;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #D3D3D3;
}

.btn--download {
    background: transparent;
    border: 2px solid #fff;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
    visibility: hidden;
}

.btn--download > .img {
    width: 14px;
    margin-left: 8px;
}

.offer__item:hover {
    background: var(--primary);
}

.offer__item:hover .btn--download {
    visibility: visible;
}

.offer__item:hover * {
    color: #fff;
}

.offer__item:hover > .img {
    filter: brightness(0) invert(1);
}
