* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary: #03C19D;
    --hover: #02B08C;
    --grey: #EBEBEB;
}

html {
    scroll-behavior: smooth;
}

.container {
    position: relative;
    overflow-x: hidden;
}

.w {
    width: 90%;
    max-width: 1370px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex--end {
    justify-content: flex-end;
}

.flex--start {
    justify-content: flex-start;
}

.img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a, .btn {
    cursor: pointer;
    transition: .2s all;
}

input {
    transition: .2s all;
}

.btn {
    font-weight: 700;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

.btn--green {
    background: var(--primary);
    color: #fff;
}

.btn--green:hover {
    background: var(--hover);
}

.btn--white {
    background: #fff;
    color: var(--primary);
}

.btn--white:hover {
    background: var(--grey);
}

.btn > .img {
    margin-left: 8px;
    width: 24px;
}

.topBar {
    height: 60px;
    background: #000;
}

.topBar * {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.topBar__inner {
    height: 100%;
}

.topBar__inner__left {
    position: relative;
    padding-left: 15px;
}

.topBar__inner__left::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background: var(--primary);
}

.topBar__inner__right .img {
    width: 20px;
    height: auto;
    margin-right: 8px;
}

.topBar__inner__right > .flex:first-child {
    margin-right: 30px;
}

.header {
    height: 140px;
}

.header > .w {
    height: 100%;
}

.header__logo {
    display: block;
    width: 130px;
    height: auto;
}

.header__logo:hover {
    transform: scale(1.03);
}

.header__menu {
    width: calc(100% - 300px);
}

.header__menu__inner {
    width: calc(100% - 250px);
}

.header__menu__inner__item {
    width: 24%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.btn--header {
    width: 225px;
    height: 54px;
    font-size: 16px;
    margin-left: 40px;
}

.hero {
    width: 100%;
    height: auto;
    position: relative;
}

.img--hero {
    filter: brightness(.5);
}

.hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.hero__content__header,
.hero__content__text {
    color: #fff;
    max-width: 755px;
}

.hero__content__header {
    font-size: 64px;
    max-width: 755px;
}

.hero__content__text {
    font-weight: 400;
    margin: 20px 0 30px;
    font-size: 20px;
}

.btn--green.btn--landing {
    margin-right: 20px;
}

.btn--white.btn--landing {
    border: 3px solid var(--primary);
}

.btn--landing {
    padding: 5px 20px;
    font-size: 20px;
    height: 64px;
}

.section--offer {
    background: var(--grey);
}

.section__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    margin: 0 auto 50px;
    padding-top: 70px;
}

.section__header__before {
    display: block;
    text-align: center;
    color: var(--primary);
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 12px;
}

.section__header__heading {
    font-size: 40px;
    text-align: center;
}

.offer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    transition: .2s all;
    padding-bottom: 50px;
}

.offer__item {
    background: #fff;
    padding: 40px;
}

.offer__item > .img {
    width: 100px;
    margin-bottom: 25px;
}

.offer__item__header {
    width: calc(100% - 160px);
    font-size: 16px;
}

.offer__item__text {
    color: #626262;
    font-size: 14px;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #D3D3D3;
}

.btn--download {
    background: transparent;
    border: 2px solid #fff;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
    visibility: hidden;
}

.btn--download > .img {
    width: 14px;
    margin-left: 8px;
}

.offer__item:hover {
    background: var(--primary);
}

.offer__item:hover .btn--download {
    visibility: visible;
}

.offer__item:hover * {
    color: #fff;
}

.offer__item:hover > .img {
    filter: brightness(0) invert(1);
}

.section--contact .section__header,
.section--discount .section__header {
    max-width: 700px;
}

.section__header__text {
    text-align: center;
    font-size: 16px;
    color: #626262;
    margin: 20px auto 0;
}

.discount {
    position: relative;
    width: 100%;
    margin-top: -15px;
}

.img--discount {
    filter: brightness(.7);
}

.discount * {
    color: #fff;
    text-align: center;
}

.discount__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.discount__header {
    font-weight: 400;
    font-size: 24px;
}

.discount__product {
    font-weight: 700;
    font-size: 44px;
    margin: 15px auto 25px;
}

.btn--discount {
    width: 240px;
    height: 60px;
    margin: auto;
    font-size: 18px;
}

.section--aboutUs {
    margin: 80px 0;
}

.section--aboutUs * {
    text-align: left;
}

.aboutUs__left {
    width: 40%;
    position: relative;
}

.aboutUs__left > .img {
    width: 60%;
}

.img--aboutUs1 {
    position: relative;
    z-index: 3;
}

.img--aboutUs2 {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 35%;
}

.aboutUs__right {
    width: 58%;
}

.section__aboutUs__header {
    font-size: 16px;
    margin: 20px 0;
}

.section__aboutUs__list {
    list-style-type: none;
}

.section__aboutUs__list > li {
    color: #626262;
    font-size: 15px;
    position: relative;
    padding-left: 25px;
    margin: 12px 0;
}

.section__aboutUs__list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("./img/check.svg");
    background-size: 100%;
    width: 20px;
    height: 20px;
}

.section--contact {
    margin-top: 120px;
}

.contact {
    background: var(--primary);
    padding: 60px 0;
}

.contact > .flex {
    align-items: flex-start;
}

.contact__left {
    width: 50%;
    max-width: 600px;
}

.contact__left > * {
    color: #fff;
}

.contact__left__header {
    font-size: 32px;
    margin-bottom: 40px;
}

.contact__left__item {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact__left__item > .img {
    width: 35px;
    margin-right: 10px;
}

.contact__form {
    background: #fff;
    padding: 25px;
    width: 40%;
}

.contact__form__header {
    font-size: 32px;
    color: #000;
    margin-bottom: 30px;
}

.contact__form label,
.contact__form form {
    background: #fff;
    width: 100%;
}

.contact__form label {
    display: block;
    color: #A4A4A4;
    font-size: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.contact__form label span {
    color: #ff0000;
}

.input {
    text-transform: none;
    border: 2px solid var(--primary);
    background: #fff;
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    margin-top: 4px;
}

.input--textarea {
    height: 150px;
    resize: none;
}

.btn--submitForm {
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.input:focus,
.input:active {
    outline: none;
    border-width: 3px;
}

.map {
    margin-top: 40px;
    width: 100%;
    height: 380px;
}

.footer {
    margin-top: 60px;
    background: #000;
    height: 90px;
}

.footer * {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
}

.footer .w {
    height: 100%;
}
